<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="ChromeTest">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.saucedemo.TestPack.TC_01_LoginActivityValidation"/>
      <class name="com.saucedemo.TestPack.TC_03_AllProductActivityValidation"/>
      <class name="com.saucedemo.TestPack.TC_04_AddBagProductToCart"/>
      <class name="com.saucedemo.TestPack.TC_02_LogOutActivityValidatn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
